modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
POLYMARKET_PROXY_ADDRESS = "0x2e5FdAeAAC50bb94f8Cdc51206BD574bcDA77dba"
ADMIN_EMAIL = "cheboikipropw@gmail.com"
ADMIN_PASSWORD_HASH = "$2b$12$N0CTFITIYU/TAMMORDUPlugj3mFWLKuMY0CR8/pE8v.8uf1D1Pj5S"
JWT_SECRET = "30b22531fccf169a6777cfddd0b78d394bb0c230cc4d70cd84dfcb819b61494af67f0cee228ba587f0cae9d05df290785b59b2227a3a36d586553fe77128495f"

[nix]
channel = "stable-25_05"
packages = ["nano"]
